.main-page {
    min-height: 100vh;
    background: no-repeat 50%/ cover;
	position: relative;
}

.main-container {
	width: 650px;
	margin: 0 auto;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(64, 64, 84, 0.25);
}

.main-content {
	width: 340px;
	margin: 150px auto;
    text-align: center;
}

.main-title {
    font-family: 'Integral';
    font-size: 35px;
    text-transform: uppercase;
    margin: 30px;
}

.main-text {
    margin: 30px;
    font-size: 15px;
    font-weight: 100;
}
