.chatbot {
  background: rgba(192, 192, 197, 0.444);
}

.chatbot-button {
    background-color: #7e7979;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 62px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chatbot-button:hover {
    background-color: #686565;
  }
  .chatbot-button-container {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.chatbot-button-content {
  margin: 100px;
}
.chatbot-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
}
.chatbot_row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  width: 100%;
}
.chatbot-title-container{
  width: 650px;
}
.chatbot-title {
	margin: 150px auto;
	height: 100%;
    width: 340px;
    font-family: 'Integral';
    font-size: 35px;
    text-align: center;
}
