.header {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  width: 400px;
  height: 150px;
}

.header-nav--main ul {
  display: flex;
}

.header-nav--main ul li {
  margin-left: 25px;
  font-size: 18px;
  font-weight: 700;
}

.header-nav--main ul li a {
  text-decoration: none;
  color: #060606;
  transition: color 0.3s;
}

.header-nav--main ul li a:hover {
  color: #6d7175;
}



