.header {
    padding: 24px 0;
    background-color: white;
  }
  
  .header_logo {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(17, 5, 239, 0.91);
  }
  
  .header_logo a {
    color: initial;
  }
  
  .header_row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    width: 100%;
  }
  
  .header_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header_nav ul {
    display: flex;
    column-gap: 24px;
    align-items: center;
    font-weight: bold;
    color:black;
  }
  
  .header_nav a,
  .header_nav select {
    font-size: 16px;
    color: rgb(17,5,239,0.91);
  }
  
  .header_h3{
    font-weight: bold;
  }