@import './assets/fonts/fonts.css';
@import './styles/reset.css';

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 13px;
  }

  .container {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .container {
    padding: 0 10px;
  }
}
